.CompanyDisplay>.homeButton{
    top:2%;
    right: 2%;
    margin: 10px;
    float: right;
}

.CompanyDisplay>.addCoupon{
    top:10%;
    left: 2%;
    margin: 1px 20px;
    float: left;
}

.CompanyDisplay>.mySearch{
    position: fixed;
    top: 20%;
    left: 2%;
    margin: 1px 20px;
}

.OperationCard{
    margin: 10px 20px;
}